{{ define "index" }}

{{ template "header" }}

         
<main class="px-3">
    <h1>Главная страница</h1>
    <p class="lead"> <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum ipsam provident maiores assumenda maxime, exercitationem repellat, cum consequatur delectus accusantium esse. Dolore vero earum maxime id nostrum dolores facilis suscipit?</p> 
    

  
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Узнать больше</a>
    </p>
  </main>


</body>

</html>
        

{{ template "footer" }}

{{ end }}